* {
    box-sizing: border-box;
}

:root {
    --primary-color: #4caf4f;
    --neutral-silver: #f5f7fa;
    --Neutral-Silver: #f5f7fa;
    --Neutral-D_Grey: #4d4d4d;
    --Neutral-Grey: #717171;
    --Neutral-White: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
}

/** Common */
.main-content {
    width: 1152px;
    max-width: calc(100% - 288px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.main-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    color: #fff;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5; /* 150% */
}

.main-btn:hover {
    background-color: #27702a;
}

.heading-lv2 {
    color: var(--Neutral-D_Grey, #4d4d4d);
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 1.22; /* 122.222% */
}

.heading-lv3 {
    color: var(--Neutral-D_Grey, #4d4d4d);
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.28; /* 128.571% */
}

.mark-up {
    color: var(--Brand-Primary, #4caf4f);
}

.heading-center {
    text-align: center;
}

/** Header */
.header {
    background-color: var(--neutral-silver);
}

.header.fixed {
    position: sticky;
    top: -0px;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 22px 120px;
    justify-content: space-between;
}

.header .logo {
    margin-right: 166px;
}

.header .list {
    display: flex;
    align-items: center;
}

.header .list .item {
    margin-right: 50px;
}

.header .list .item a {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    color: #18191f;
}

.header .list .item.active,
.header .list .item:hover {
    color: #171100;
    text-shadow: 0.5px 0 0 currentColor;
}

.header .cta-group {
    display: flex;
    margin-left: 74px;
    align-items: center;
}

.header .cta-group .linked {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.42; /* 142.857% */
    display: inline-block;
    padding: 10px 20px;
    color: var(--primary-color);
    text-align: center;
}

.header .cta-group .btn-login {
    min-width: 100px;
    border-radius: 6px;
    margin-left: 14px;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    line-height: 1.42; /* 142.857% */
}

.header .cta-group .btn-login:hover {
    background-color: #27702a;
}

/** Hero */
.hero {
    background-color: var(--neutral-silver);
}

.hero .hero-body {
    padding: 96px 0;
    display: flex;
    align-items: center;
}

.hero .hero-content {
    width: 57%;
    margin-right: 104px;
}

.hero .hero-content .hero-heading {
    color: #4d4d4d;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1.18; /* 118.75% */
}

.hero .hero-content .hero-heading strong {
    color: var(--primary-color);
}

.hero .hero-content .desc {
    margin-top: 16px;
    color: #717171;
    font-size: 1.6rem;
    line-height: 1.5; /* 150% */
    margin-bottom: 32px;
}

.hero .hero-media {
    width: 34%;
}

/** Client */
.client {
    margin: 40px 0;
}

.client .client-header .desc {
    margin: 8px 0 16px;
    color: var(--Neutral-Grey, #717171);
    text-align: center;
    font-size: 16px;
    line-height: 1.5; /* 150% */
}

.client .client-body .list-client {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 98px;
}

/** About */
.about {
    margin-bottom: 42px;
}

.about .about-header .desc {
    color: var(--Neutral-Grey, #717171);
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.5; /* 150% */
    margin-top: 8px;
}

.about .about-body {
    display: flex;
    align-items: center;
    align-items: stretch;
    margin-top: 16px;
    flex-wrap: wrap;
    gap: 127px;
    justify-content: center;
}

.about .about-body .about-item {
    padding: 24px 32px;
    border-radius: 8px;
    background: var(--Neutral-White, #fff);
    box-shadow: 0 2px 4px 0 rgba(171, 190, 209, 0.2);
    max-width: 299px;
    flex-basis: 299px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.about .about-item .icon {
    margin-bottom: 16px;
}

.about .about-item .subtitle {
    color: var(--Neutral-Grey, #717171);
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.42; /* 142.857% */
    margin-top: 8px;
    width: 251px;
}

/** Feature */
.feature {
    margin-bottom: 48px;
}

.feature .feature-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.feature .content-block {
    width: 57%;
}

.feature .content-block .desc {
    margin: 16px 0 32px;
    color: var(--Neutral-Grey, #717171);
    font-size: 1.4rem;
    line-height: 1.42; /* 142.857% */
    width: 601px;
    max-width: 100%;
}

.feature .media-block {
    width: 38%;
}

/** Achievements */
.achievements {
    padding: 64px 0;
    background: var(--Neutral-Silver, #f5f7fa);
    margin-bottom: 48px;
}

.achievements .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.achievements .row .column {
    width: 47%;
    display: flex;
    flex-direction: column;
}

.achievements .row .column.column-1 {
    justify-content: center;
    align-items: flex-start;
}

.achievements .row .column.column-2 {
    justify-content: center;
    align-items: center;
}

.achievements .row .column .desc {
    color: var(--Text-Gray-900, #18191f);
    font-size: 1.6rem;
    line-height: 1.5; /* 150% */
    margin-top: 8px;
}

.achievements .row .child-row {
    display: flex;
    gap: 30px;
}

.achievements .row .child-row:first-child {
    margin-bottom: 40px;
}

.achievements .child-row .stat-item {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 255px;
    max-width: 100%;
}

.child-row .stat-item .icon {
    width: 48px;
    height: 48px;
}
